h1 {
	font-family: arial;
	text-align:center;	
}

.center {
	width: 600px; 
	margin:0px auto; 
	display:block;
  background-color: #fff;
}

.clear {
	clear:both;
	padding:10px;	
}

canvas {
  background-color: #000;
}
