doctype 5
html
  head
    title Space Battle
    link(rel="stylesheet", type="text/css", href="style/style.css")
  body
    a#github(href="https://github.com/gsholtz/space-battle")
      img(src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-red@2x.png", alt="Fork me on GitHub")
    #title Space Battle
    #main.center
    #instructions Instructions
      ol
        li Use LEFT and RIGHT arrows to move spaceship to the left and right.
        li Hold SPACE to shoot.
        li Press F5 to restart the game.

    #author Created and Developed by Guilherme Holtz. Sprites by Arboris Clover & Leonardo Silva Marques. v0.5
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.1.min.js")
  script(type="text/javascript", src="/libs/jquery.hotkeys.js")
  script(type="text/javascript", src="/libs/keyStatus.js")
  script(type="text/javascript", src="/libs/util.js")
  script(type="text/javascript", src="/libs/sprite.js")
  script(type="text/javascript", src="/application.js")